In [1]:
#Write a code to reverse a string

In [2]:
a="kshitiz"
a[::-1]

'zitihsk'

In [3]:
#Write a code to count the number of vowels in a string

In [4]:
strings="India is the best country"
lower_str=strings.lower()
count=0
vow=["a","e","i","o","u"]
for char in lower_str:
    if char in vow:
        count+=1
        
count

8

In [5]:
#Write a code to check if a given string is a palindrome or no

In [6]:
a="madam"
a==a[::-1]

True

In [7]:
#Write a code to check if two given strings are anagrams of each other

In [8]:
a="spar"
b="rasp"

set(a)==set(b)

True

In [9]:
#Write a code to find all occurrences of a given substring within another string

In [10]:
a="kshitiz"
b="kshitiz is good"

a in b

True

In [11]:
#Write a code to perform basic string compression using the counts of repeated characters

In [12]:
a="aaaabbcddddd"
l=[]
w={}
for i in a:
    l.append(i)
    
for j in sorted(set(l)):
    w[j]=l.count(j)
for u in w.items():
    print(u[0]+str(u[1]),end="")

a4b2c1d5

In [13]:
#Write a code to determine if a string has all unique characters

In [14]:
a="kshitiz"
a==set(a)

False

In [15]:
#Write a code to convert a given string to uppercase or lowercase

In [16]:
a="Kshitiz"
a.upper()

'KSHITIZ'

In [17]:
a.lower()

'kshitiz'

In [18]:
#Write a code to count the number of words in a string

In [19]:
a="kshitiz is a good boy"

len(a.split())

5

In [20]:
#Write a code to concatenate two strings without using the + operator

In [21]:
a="kshitiz"
b="gupta"

print(f"{a} {b}")

kshitiz gupta

In [22]:
#Write a code to remove all occurrences of a specific element from a list

In [23]:
a=[1,2,3,4,5,6,1,7,1,4,1,7]
#to remove one
for i in a:
    if i ==1:
        a.remove(i)
a

[2, 3, 4, 5, 6, 7, 4, 7]

In [24]:
#Implement a code to find the second largest number in a given list of integers

In [25]:
a=[12,13,17,65,45,100]
sec_max=0
m=max(a)
for i in a:
    if i>sec_max and i<m:
        sec_max=i
sec_max

65

In [26]:
#Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values

In [27]:
lis=[1,2,3,1,4,3,5,6,5,6,7,5,3,6,8,7,6,9,8,0,5,3,6,7,9]
a={}
e=set(lis)

for i in e:
    a[i]=lis.count(i)
a

{0: 1, 1: 2, 2: 1, 3: 4, 4: 1, 5: 4, 6: 5, 7: 3, 8: 2, 9: 2}

In [28]:
#Write a code to reverse a list in-place without using any built-in reverse functions

In [29]:
q=["a","g","v","k","y"]
rev=[]
for i in range(len(q)):
    p=q.pop() 
    rev.append(p)
rev

['y', 'k', 'v', 'g', 'a']

In [30]:
#Implement a code to find and remove duplicates from a list while preserving the original order of elements

In [31]:
a=[1,2,3,4,5,3,4,6,2,7,8,4,5]
z=[]
for i in a:
    if i not in z:
        z.append(i)
z

[1, 2, 3, 4, 5, 6, 7, 8]

In [32]:
#Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [33]:
q=[1,4,2,6,3,8,6,9,0] #unsorted list 
q==sorted(q)

False

In [34]:
#Write a code to merge two sorted lists into a single sorted list

In [35]:
a=[1,2,3,4,5]
b=[1,4,7,9]

sorted(a+b)

[1, 1, 2, 3, 4, 4, 5, 7, 9]

In [36]:
# Implement a code to find the intersection of two given lists

In [37]:
a=[1,3,5,2,6,7,4]
b=[1,4,6,3,7,6,0,9,4,3]

set(a).intersection(set(b))

{1, 3, 4, 6, 7}

In [38]:
#Create a code to find the union of two lists without duplicates

In [39]:
a=[1,3,5,2,6,7,4]
b=[1,4,6,3,7,6,0,9,4,3]

set(a).union(set(b))

{0, 1, 2, 3, 4, 5, 6, 7, 9}

In [1]:
#Write a code to shuffle a given list randomly without using any built-in shuffle function

In [6]:
import random
a=[1,4,6,3,7,2,8,6,67,56,4]
t=[]
while len(a)!=len(t):
    b=random.randint(0,len(a)-1)
    if t.count(a[b]) !=a.count(a[b]):
        t.append(a[b])
    
t

[3, 4, 6, 56, 7, 6, 4, 2, 67, 1, 8]

In [7]:
#Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples

In [24]:
a=tuple(input("enter 1"))
b=tuple(input("enter 2"))
c=tuple(set(a).intersection(set(b)))

c

enter 1 1425478
enter 2 24852

('4', '2', '5', '8')

In [25]:
#Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets

In [34]:
a=set(input("enter"))
a.remove(",")
b=set(input("enter"))
b.remove(",")

a.intersection(b)

enter 1,8,5,7,2,
enter 1,8,5,36,

{'1', '5', '8'}

In [35]:
#Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [3]:
def con_tup():
    a=tuple(input("enter 1"))
    b=tuple(input("enter 1"))
    print (a+b ,end="")

con_tup()

enter 1 123
enter 1 545

('1', '2', '3', '5', '4', '5')

In [8]:
#Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices

In [21]:
a=tuple(input("enter tuple"))
b=int(input("enter first int"))
c=int(input("enter seccond int"))
d=[]

def r():
    for i in a:
        if b<int(i)<c:
            d.append(i)
    return tuple(d)
r()

enter tuple 1235482477
enter first int 1
enter seccond int 6

('2', '3', '5', '4', '2', '4')

In [23]:
#Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

In [26]:
a=set(input("enter first"))
b=set(input("enter second "))
a.union(b)

enter first ncdsbcyb
enter second  amzjancuebc

{'a', 'b', 'c', 'd', 'e', 'j', 'm', 'n', 's', 'u', 'y', 'z'}

In [27]:
#Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking

In [32]:
def max_min():
    a=tuple(input("enter "))
    return (min(a),max(a))

max_min()

enter  17415174

('1', '7')

In [34]:
# Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets

In [37]:
a={1,34,56,2,3,7,8,6,4,7}
b={1,4,6,3,23,45,67}
a.union(b),a.intersection(b),a.difference(b)

({1, 2, 3, 4, 6, 7, 8, 23, 34, 45, 56, 67}, {1, 3, 4, 6}, {2, 7, 8, 34, 56})

In [38]:
# Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple

In [40]:
a=tuple(input("enter tuple"))
b=(input("enter int"))
a.count(b)

enter tuple 01417418741874411478
enter int 4

6

In [41]:
a=set(input("enter"))
b=set(input("enter"))
a.symmetric_difference(b)

enter vnenvncmsijdnciwhv
enter jcnhiwebvwhbviwb

{'b', 'd', 'm', 's'}

In [42]:
# Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input lis

In [52]:
a=list(input("enter"))
b=set(a)
c={}
for i in a:
    c[i]=a.count(i)
c

enter bcsdbvgbdhsnvhbeuvbwunvii

{'b': 5,
 'c': 1,
 's': 2,
 'd': 2,
 'v': 4,
 'g': 1,
 'h': 2,
 'n': 2,
 'e': 1,
 'u': 2,
 'w': 1,
 'i': 2}

In [53]:
# Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added togethe

In [11]:
def dict_1():
    dictionary = {}
    while True:
        key = input("Enter a key (or type 'done' to finish): ")
        if key.lower() == 'done':
            break
        value = input(f"Enter a value for key '{key}': ")
        dictionary[key] = value
    return dictionary
d1=dict_1()


def dict_2():
    dictionary = {}
    while True:
        key = input("Enter a key (or type 'done' to finish): ")
        if key.lower() == 'done':
            break
        value = input(f"Enter a value for key '{key}': ")
        dictionary[key] = value
    return dictionary
d2=dict_2()

d1.update(d2)
d1

Enter a key (or type 'done' to finish):  1
Enter a value for key '1':  a
Enter a key (or type 'done' to finish):  2
Enter a value for key '2':  b
Enter a key (or type 'done' to finish):  done
Enter a key (or type 'done' to finish):  3
Enter a value for key '3':  r
Enter a key (or type 'done' to finish):  5
Enter a value for key '5':  t
Enter a key (or type 'done' to finish):  1
Enter a value for key '1':  d
Enter a key (or type 'done' to finish):  done

{'1': 'd', '2': 'b', '3': 'r', '5': 't'}